*{
    margin: 0;
    padding: 0;
   }
   .type_content{
    width: 60%;
    /* height: 440px; */
    border: 1px solid #ccccff;
    max-width: 600px;
    margin: 10px auto;
    border-radius: 8px;
    position: relative;
    min-width: 500px;
   }
   .type_content h3{
    text-align: center;
    margin: 10px 0px;
   }
   .type_box{
    list-style: none;
    width: 90%;
    height: 100px;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }
   .type_box li{
    width: 88px;
    height: 88px;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
    /* color: #fff; */
   }
   .error_box{
    background-color: #ccffcc;
    color: red;
   }
   .time_box{
    background-color: #66ffff;
    color: #000033;
   }
   .currcorrect_box{
    background-color: #FFC125;
    color: #fff;
   }
   .type_speed{
    background-color: #FF4040;
    color: #fff;
    display: none;
   }
   .final_correct{
    background-color: #E3E3E3;
    color: #555555;
    display: none;
   }
   .error{
    margin: 10px;
   }
   .text_box{
    width: 80%;
    /* height: 50px; */
    margin: 20px auto 40px auto;
    /* border: 1px solid black; */
    background-color: #D1EEEE;
    color: #000;
    border-radius: 6px;
    /* text-align: center; */
    line-height: 40px;
    padding: 0px 5px;
    /* box-sizing: border-box; */
   }
   .text_area{
    width: 80%;
    height: 50px;
    margin: 0px auto;
    padding-bottom: 50px;
    margin-bottom: 30px;
     
   }
   #textarea_box{
    resize:none;
    width: 100%;
    height: 100%;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 6px;
    outline: none;
    border: none;
    border: 2px solid #eee;
   } 
   .incorrect_char { 
    color: red; 
    text-decoration: underline; 
    } 
     
    .correct_char { 
    color: #9B30FF; 
    }
    .restart{
     width: 120px;
     height: 40px;
     display: none;
     border: none;
     outline: none;
     cursor: pointer;
     color: #fff;
     background-color: #9900ff;
     border-radius: 6px;
     position: absolute;
     bottom: 10px;
     left: 50%;
     margin-left: -60px;
      
   }